
<html ng-app="app">
    <script data-semver="1.4.3" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.js" data-require="angular.js@1.4.x"></script>
    <script src="app.js"></script>

<style type="text/css">
table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}


</style>

<body ng-controller="FileUploadCtrl">
    <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
    
    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <input type="button" ng-click="uploadFile()" value="Upload" />
        <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
        </div>
    </div>

    <div ng-repeat="i in projectList ">

    Project ID : {{projectId}} &nbsp;&nbsp; Id :  <a href="#" ng-click="deleteVideo(i.hashed_id,i.id,projectId)">{{i.id}}</a>   &nbsp;&nbsp;    Name : {{i.name}}   &nbsp;&nbsp;    hashed_id : {{i.hashed_id}} &nbsp;&nbsp;&nbsp;  Image url : <img src="{{i.thumbnail.url}}" width="100" height="100"><br>   

    </div>

</body>
</html>

